$font-helvetica: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$black: #1b1e20;
$smokey: #f5f5f5;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0.75rem;
  font-family: $font-helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 0.75rem 0.75rem 0.25rem;
  color: $black;
  text-align: center;
}

h1 {
  font-size: clamp(28px, 3vw, 4rem);
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2 {
  font-weight: 500;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  font-size: 1.5rem;
}
